@import './container.css';
@import './utils//_scroll_utils.css';
@import 'tailwindcss';

@theme {
   --font-bebas: var(--font-bebas);
   --font-plus-jakarta: var(--font-plus-jakarta);
   --font-poppins: var(--font-poppins);
   --font-cabin: var(--font-cabin);

   --breakpoint-2xl: 90rem;

   --color-primary: rgba(242, 84, 14, 1);
   --color-secondary: #252525;
   --color-tertiary: #00704e;

   --color-foreground: #666666;
}

@layer utilities {
   .avatar img {
      border-radius: 9999px !important;
      object-fit: cover !important;
   }
}

@layer utilities {
   .avatar img {
      border-radius: 9999px !important;
      object-fit: cover !important;
   }
}

/*html {
   scroll-behavior: smooth;
}

[id] {
   scroll-margin-top: 256px;
}*/
