.languageBox {
  display: flex;
  flex-direction: column;

  .languageItem {
    display: flex;
    align-items: center;
    align-content: center;
    cursor: pointer;
    gap: var(--mantine-spacing-sm);
    padding: var(--mantine-spacing-xs);
    border-bottom: 1px solid var(--mantine-color-gray-6);

    :first-child {
      display: flex;
      text-align: left;
    }

    :nth-child(2) {
      position: relative;
      right: 0;
    }
  }

  .languageFlag {
    width: 90%;
    display: flex;
    align-items: center;
    align-content: center;

    :first-child {
      min-width: 35px;
      min-height: 35px;
      padding: 0 var(--mantine-spacing-xs);
      margin: 0 var(--mantine-spacing-xs);
      text-align: center;
      align-content: center;
      background-color: light-dark(var(--mantine-color-gray-3) , var(--mantine-color-dark-4));
      border-radius: var(--mantine-spacing-xs);
    }
  }
}