.container {
  min-height: 85px;
  padding: var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-md);
  border: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-3));
}

.icon {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--mantinie-spacing-lg);
  border-radius: var(--mantine-spacing-xs);
  background: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-8));
}