.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.formContainer {
  width: 60%;

  @media (max-width: 768px) {
    width: 90%;
  }
}

.header {
  margin-bottom: 30px;
  text-align: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  margin: 5% 0;
  letter-spacing: 1px;
}

