.welcomeCard {
  background: linear-gradient(0deg, var(--mantine-color-default-2) 30%, var(--mantine-primary-color-3) 100%);
  border-radius: var(--mantine-radius-lg);
  padding: 20px;
  height: 150px;

  .avatar {
    border: 3px solid #fff;
  }

  .welcomeTitle {
    color: #1a1a1a;
    margin-bottom: 4px;
  }

  .welcomeSubtitle {
    margin-bottom: 5px;
  }
}
.moduleCards {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 1%;
  padding: 1% 0;
}


// Responsive Design
@media (max-width: 1200px) {
  .container {
    padding: 0 15px;
  }
}

@media (max-width: 768px) {
  .dashboard {
    padding: 10px 0;
  }

  .welcomeCard {
    padding: 16px;

    .avatar {
      width: 60px;
      height: 60px;
    }

    .welcomeTitle {
      font-size: 18px;
    }
  }
}