.moduleModalItem {
  width: 100%;
  display: flex;
  cursor: pointer;
  border-bottom: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-4));
  transition: background-color 0.1s ease, transform 0.1s ease;

  .moduleModalIconBox {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--mantine-radius-md);
    background-color: light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-3));
  }

  .moduleModalIcon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &:hover {
    background-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-4));
  }

  &:active {
    background-color: light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-6));
    transform: scale(0.95);
  }
}