@mixin right-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.moduleSectionContainer {
  width: 100%;
  min-height: 80vh;
  border-radius: var(--mantine-radius-lg);
}

.moduleSectionHeader {
  border-bottom: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.moduleSectionContent {

  .pinnedModules {
    box-shadow: var(--mantine-shadow-xs);
    border-radius: var(--mantine-radius-lg);

    .pinnedModuleAccordion {
      width: 100%;
      .pinnedModuleAccordionItem {
        border-bottom: none;
        width: 100%;
      }
    }
  }

  .moduleSectionItem {
    width: 100%;
    padding: 10px;
    display: flex;
    cursor: pointer;
    border-radius: var(--mantine-radius-lg);
    border: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-4));
    transition: background-color 0.2s ease, transform 0.1s ease;
    background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-4));

    .moduleIconBox {
      height: 40px;
      width: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: var(--mantine-radius-md);
      background-color: light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-3));
    }

    .moduleIcon {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &:hover {
      background-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-4));
    }

    &:active {
      background-color: light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-6));
      transform: scale(0.95);
    }
  }

  .allModules {
    .moduleSection {
      display: flex;
      margin: 2% 0;

      .moduleSectionItemHeader {
        display: flex;               /* Make header a flex container */
        align-items: center;         /* Vertically center icon and title */

        .moduleSectionItemHeaderIcon {
          display: flex;
          width: 45px;
          height: 45px;
          align-items: center;
          justify-content: center;
          border-radius: var(--mantine-radius-md);
          background-color: light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-6));

          div {
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
              height: 30px;
              width: 30px;
            }
          }
        }

      }
    }

  }
}