@import './container.css';
@import 'tailwindcss';

@layer utilities {
   .avatar img {
      border-radius: 9999px !important;
      object-fit: cover !important;
   }
}

@layer utilities {
   .avatar img {
      border-radius: 9999px !important;
      object-fit: cover !important;
   }
}
