.navbarActions {
  min-width: 100px;
  display: flex;
  justify-content: end;
  height: 25px;
  margin: auto 0;
  align-items: center;
  align-content: center;
  cursor: pointer;
  border-left: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-0)) !important;

  @media (max-width: 1268px) {
    min-width: 60px !important;
  }

  .actionItem {
    @media (max-width: 1268px) {
      display: none;
    }
  }

  .contextBox {
    display: flex;
    align-content: center;
    align-items: center;
    gap: 5px;

    @media (max-width: 1268px) {
      margin: auto;
    }

    .user {
      min-height: 35px;
      min-width: 35px;
      max-height: 35px;
      max-width: 35px;
      border-radius: 50%;
      border: 2px solid light-dark(var(--mantine-color-default-6), var(--mantine-color-dark-0)) !important;
    }

    .contextName {
      @media (max-width: 1268px) {
        display: none;
      }
    }
  }
}

