.navbar {
  width: 100%;
  height: 50px;
  padding-inline: .5%;
  max-height: 50px;
  min-height: 50px;

  z-index: 3;
  position: fixed;
  background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));

  .container {
    height: 100%;
    display: flex;
    width: 100%;
  }
}

.navbarApp {
  width: 100%;
  display: flex;
}


.navbarModules {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;

  .searchMenu {
    min-width: 30%;
    margin: 0 5%;

    input {
      border-radius: 10px;
      font-size: 8px;
      background-color: light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-7));
    }

    @media (max-width: 1368px) {
      display: none;
    }
  }

  .visibleModules {
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: start;
    align-content: center;
    gap: 5px;

    .moduleItem {
      display: flex;
      cursor: pointer;
      padding: 5px 8px;
      align-items: start;
      align-content: start;
      justify-content: start;
      text-align: start;
      transform: translateX(0);
      color: light-dark(var(--mantine-color-black), var(--mantine-color-dark-0));

      .module-content {
        display: flex;
        align-items: center;
        gap: 5px;
      }

      .module-icon {
        text-align: center;
        height: 20px;
        width: 20px;
        color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-1));

        svg {
          height: 100%;
          width: 100%;
        }
      }

      .module-name {
        font-size: 12px;
        text-align: left;
        color: light-dark(var(--mantine-color-gray-9), var(--mantine-color-dark-0));
      }

      &:hover {
        border-radius: 8px;
        animation: leftScaleUp 0.5s ease-in-out forwards;
        background-color: light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-5)) !important;
      }

      &.moduleItemActive {
        border-radius: 8px;
        animation: leftScaleUp 0.5s ease-in-out forwards;
        background-color: light-dark(var(--mantine-color-default-6), var(--mantine-color-default-8)) !important;

        .module-name {
          transition: none;
          color: light-dark(var(--mantine-color-white), var(--mantine-primary-color-0)) !important;
        }

        .module-icon {
          color: light-dark(var(--mantine-color-white), var(--mantine-primary-color-0)) !important;
        }
      }
    }
  }

  .viewModules {
    display: flex;
    align-items: center;
    text-align: center;

    .module-icon {
      cursor: pointer;
      text-align: center;
      color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-2));
      transition: color 0.3s ease;

      &:hover {
        color: light-dark(var(--mantine-color-gray-8), var(--mantine-color-dark-0));
      }
    }
  }
}



